@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Fraunces";
}

p {
  font-family: "Barlow";
  color: #5a636c;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3dbeff;
}

nav a {
  text-decoration: none;
  color: white;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin: 1em 1.5em;
}

nav #home {
  font-size: 25px;
  margin-left: 1em;
  font-weight: bold;
}

nav #contact {
  text-transform: uppercase;
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 50px;
}

nav #contact:hover {
  color: white;
  background-color: #a3eaff;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #3dbeff;
  text-align: center;
  height: 93vh;
  background: url(../images/desktop/image-header.jpg) no-repeat;
  background-size: cover;
  background-position: bottom;
}

main h1 {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  color: white;
  position: absolute;
  top: 50px;
  letter-spacing: 8px;
  font-size: 50px;
}

main .arrow {
  position: absolute;
  height: 120px;
  left: 50%;
  top: 35%;
}

@media only screen and (max-width: 600px) {
  .features {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 600px 600px 600px 600px 600px;
        grid-template-rows: 600px 600px 600px 600px 600px;
        grid-template-areas: "transform " "egg" "cup" "stand-out" "graphic-design" "photography";
  }
}

.features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 600px 600px 600px;
      grid-template-rows: 600px 600px 600px;
      grid-template-areas: "transform egg" "cup stand-out" "graphic-design photography";
}

.features h2 {
  font-size: 40px;
  color: #23303e;
}

.features p {
  color: #5a636c;
  padding: 30px 0px 50px 0px;
  line-height: 30px;
}

.features a {
  text-transform: uppercase;
  color: #23303e;
  text-decoration: none;
}

.features a:hover:after {
  content: "";
  -webkit-transform: translate(-5%, -80%);
          transform: translate(-5%, -80%);
  display: block;
  border-radius: 2rem;
  width: 9%;
  height: 10px;
  position: absolute;
  z-index: -1;
}

.features .transform {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: transform;
  margin: 150px 100px;
  padding-right: 100px;
}

.features .transform h2 {
  padding-right: 3em;
}

.features .transform a:hover:after {
  background-color: #fad400;
}

.features .egg {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: egg;
  background: url(../images/desktop/image-transform.jpg);
}

.features .cup {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: cup;
  background: url(../images/desktop/image-stand-out.jpg);
}

.features .stand-out {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: stand-out;
  padding-right: 100px;
  margin: 150px 100px;
}

.features .stand-out a:hover:after {
  background-color: #ff7364;
}

.features .graphic-design {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: graphic-design;
  text-align: center;
  background: url(../images/desktop/image-graphic-design.jpg);
}

.features .graphic-design h2,
.features .graphic-design p {
  color: #25564b;
}

.features .photography {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: photography;
  text-align: center;
  background: url(../images/desktop/image-photography.jpg);
}

.features .photography h2,
.features .photography p {
  color: #19536b;
}

.features .text {
  margin: 50% 200px;
}

@media only screen and (max-width: 800px) {
  .features {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 600px 600px 600px 600px 600px 600px;
        grid-template-rows: 600px 600px 600px 600px 600px 600px;
        grid-template-areas: "transform " "egg" "cup" "stand-out" "graphic-design" "photography";
  }
}

.testimonials {
  margin-top: 160px;
}

.testimonials img {
  border-radius: 100%;
  width: 120px;
}

.testimonials h1 {
  margin-bottom: 30px;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  color: #5a636c;
}

.testimonials .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "person1 person2 person3";
}

.testimonials .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 20px;
  text-align: center;
}

.testimonials .person p {
  margin: 80px 0;
  line-height: 30px;
  padding: 0 50px;
}

.testimonials .person1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: person1;
  margin-left: 100px;
}

.testimonials .person2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: person2;
}

.testimonials .person3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: person3;
  margin-right: 100px;
}

.testimonials #name {
  font-size: 18px;
}

.testimonials #job {
  margin: 15px 0;
  font-family: "Barlow";
  color: #a7abae;
}

@media only screen and (max-width: 800px) {
  .testimonials h1 {
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    color: #5a636c;
  }
  .testimonials .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "person1" "person2" "person3";
  }
  .testimonials .person {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 120px;
    text-align: center;
  }
  .testimonials .person p {
    font-size: 20px;
    line-height: 30px;
  }
}

.products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas: "milk orange icecream sugar";
}

.products img {
  width: 100%;
}

.products #milk {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: milk;
}

.products #orange {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: orange;
}

.products #icecream {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: icecream;
}

.products #sugar {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: sugar;
}

@media only screen and (max-width: 800px) {
  .products {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "milk orange" "icecream sugar";
  }
}

footer {
  padding: 80px;
  background-color: #a3e3d6;
  text-align: center;
}

footer h1 {
  color: #25564b;
  margin-bottom: 50px;
}

footer a {
  color: #25564b;
  font-family: "Barlow";
  text-decoration: none;
  margin: 0 20px;
}

footer a:hover {
  color: white;
}

footer .socials {
  margin-top: 70px;
}

footer .socials a {
  margin: 0 15px;
}

footer .socials a:hover {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

footer #credits {
  font-family: "Fraunces";
  font-size: 20px;
  padding: 30px 30px 0;
  color: #25564b;
}

footer #credits span a {
  margin: 0 5px;
  font-family: "Fraunces";
  text-decoration: underline;
}

footer #credits span a:hover {
  color: #e6fbff;
}
/*# sourceMappingURL=style.css.map */